n8n/workflows/compliance_pull_flow.json
{
  "name": "Barton - Compliance Data Pull Flow",
  "nodes": [
    {
      "parameters": {
        "path": "compliance/pull",
        "options": {},
        "responseMode": "responseNode"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "barton-compliance-pull"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.compliance_id, c.company_uid, cm.company_name, c.self_insured, c.erisa_applicable, c.aca_applicable, c.fmla_state_rules, c.plan_year_start, c.plan_year_end, c.required_forms FROM compliance.compliance_vault c JOIN core.company_master cm ON c.company_uid = cm.company_uid WHERE c.company_uid = $1;",
        "additionalFields": {}
      },
      "name": "Query Compliance Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [500, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Neon PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.length}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Check Data Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO operations.audit_data_lineage (entity_uid, attribute_code, attribute_value, action_type, filled_by, column_number, column_description, column_format) VALUES ($1, 'COMPLIANCE_PULL', 'data_retrieved', 'READ', 'n8n-workflow', 1, 'Compliance data pulled', 'TEXT');",
        "additionalFields": {}
      },
      "name": "Log Audit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1000, 200],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Neon PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"data\": $json, \"count\": $json.length } }}"
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"No compliance data found for company\", \"company_uid\": $json.company_uid } }}",
        "options": {
          "responseCode": 404
        }
      },
      "name": "Not Found Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Query Compliance Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Compliance Data": {
      "main": [
        [
          {
            "node": "Check Data Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Found": {
      "main": [
        [
          {
            "node": "Log Audit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Found Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Audit": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-27T00:00:00.000Z",
      "updatedAt": "2025-10-27T00:00:00.000Z",
      "id": "1",
      "name": "Barton"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-27T00:00:00.000Z",
  "versionId": "1"
}
